      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      
#test{
    background-color: dodgerblue;
    background-image: url(digital-marketing.jpg);
  /*  background-position: center;*/
    background-size: cover;
   padding: 5% 7% ;
    padding-left: 5%;
    width: 1500  ;
    height: 800 ;
}
#product{
    
    padding:5% 5% ;
}
.flag{
    font-family: sans-serif;
    padding: 0% 1%;
}

.icon{
    margin: 2% 2%;
}
.card-deck{
    padding-bottom: 3%; 
}
.sidenav{
              font-family: "lato",sans-serif;
              height: 100% ;
              width: 0 ;
              position: fixed;
              z-index: 1 ;
              top: 0;
              left: 0 ;
              background-color: #009dff;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;
          } 
.sidenav a{
              padding: 8px 8px 8px 32px;
              text-decoration: none;
              font-size: 25px;
              color: white;
              display: block;
              transition: 0.3s;
              
          }
.sidenav a:hover{
              color: black;
              
          }
.sidenav .colsebtn{
    padding: 2%;
              position: absolute;
              top: 0;
              right: 25px;
              font-size: 36px;
              margin-left: 50px;
              
          }
          #main{
              transition: margin-left .5s;
              padding-right: 12px;
              
          }
span{
              font-size: 20px;
              cursor: pointer;
          }
          .nav-item{
              font-size: 15px;
          }

.buttons {
    margin: 0;
    padding: 0;
     display: flex;
   /* background-color: #009dff;
   height: 100vh;
    display: flex;
   /* justify-content: center;
    align-items: center*/
}

.cart-button {
    position: relative;
    outline: 0;
    background-color: #009dff;
    color: #fff;
    border: none;
    height: 48px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    line-height: 0px;
    overflow: hidden;
    cursor: pointer
}

.cart-button:focus {
    outline: none !important
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1.8em;
    transform: translate(-50%, -50%)
}

.cart-button .fa-square {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 53%;
    font-size: 0.8em;
    transform: translate(-50%, -50%)
}

.cart-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%)
}

.cart-button span.added {
    opacity: 0
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 2s ease-in forwards
}

.cart-button.clicked .fa-square {
    animation: box 2s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 2s ease-in forwards
}

.cart-button.clicked span.added {
    animation: added 2s ease-in forwards
}

@keyframes cart {
    0% {
        left: -10%
    }

    40%,
    60% {
        left: 50%
    }

    100% {
        left: 110%
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%
    }

    60% {
        top: 36%;
        left: 53%
    }

    100% {
        top: 40%;
        left: 112%
    }
}

@keyframes addcart {

    0%,
    30% {
        opacity: 1
    }

    30%,
    100% {
        opacity: 0
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}